/* manga styles */


/* shift elements to right for cover */
.shift-right {
    margin-left: 210px;
}

/* chapters */
.chapter-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    transition: 0.2s;
    padding: 20px 0;
}
.chapter-card {
    padding: 60px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--b5);
    box-shadow: var(--raise-0);
    text-decoration: none !important;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
}
.chapter-card:hover, .chapter-card:focus {
    background-color: var(--raise-hover);
}
.chapter-card .info h4 {
    font-size: 24px;
    font-family: var(--font-head);
    font-weight: 700;
}
/* overlay icons */
.chapter-card .overlay-icons {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
/* overlay icon */
.overlay-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.overlay-icons a svg {
    top: 0 !important;
    opacity: 1;
    transition: 0.2s;
}
.overlay-icons a:not(:hover):not(:focus) svg {
    opacity: 0;
}
.overlay-icons a:hover, .overlay-icons a:focus {
    background-color: var(--b4);
    color: var(--text-icon) !important;
}

/* manga */
.manga-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.manga-wrap .manga {
    height: 100%;
}

/* tags */
.tags {
    padding: 10px 0;
}

/* images */
#overview {
    position: relative;
}
#manga-img {
    max-width: 190px;
    border-radius: 10px;
    box-shadow: var(--raise-1);
    position: absolute;
    top: -150px;
}
.manga-img-wrap {
    height: 20px;
}
.shift-right {
    margin-bottom: 30px;
}