/* manga styles */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');

:root {
    --font-main: Inter, -apple-system, BlinkMacSystemFont, Roboto, "Noto Sans JP", "Noto Sans SC", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* shift elements to right for cover */
.shift-right {
    margin-left: 210px;
}

/* chapters */
.chapter-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    transition: 0.2s;
    padding: 20px 0;
}
.chapter-card {
    padding: 20px 0;
    text-decoration: none !important;
    overflow: hidden;
    transition: 0.2s;
    position: relative;
}
.chapter-card .info h5 {
    margin-bottom: 10px;
}
/* chapter list */
.chapter-card ul li {
    background-color: var(--b4);
    margin: 2px 0;
    border-radius: 5px;
    position: relative;
}
.chapter-card ul li::before {
    display: none;
}
/* read/unread */
.chapter-card ul li .mark_read {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    bottom: 1px;
}
.mark_read[disabled] {
    cursor: not-allowed !important;
}
.mark_read:not(.read) .not_seen {
    display: none;
}
.mark_read.read .seen {
    display: none;
}
.mark_read .not_seen {
    opacity: 0.4;
}
/* overlay icons */
.chapter-card .overlay-icons {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
/* overlay icon */
.overlay-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}
.overlay-icons a svg {
    top: 0 !important;
    opacity: 1;
    transition: 0.2s;
}
.overlay-icons a:not(:hover):not(:focus) svg {
    opacity: 0;
}
.overlay-icons a:hover, .overlay-icons a:focus {
    background-color: var(--b4);
    color: var(--text-icon) !important;
}

.chapter-card .right-icons {
    float: right;
    padding-right: 8px;
    opacity: 0.3;
    transition: 0.25s;
}
.chapter-card .right-icons:hover, .chapter-card .right-icons:focus-within {
    opacity: 1;
}
.chapter-card svg {
    top: -2px !important;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a[title]:not(.button) {
    text-decoration: underline;
    cursor: pointer;
}

[onclick] {
    cursor: pointer;
}

.button.icon-only {
    --sides: 20px;
}

.window {
    max-width: 500px;
}


/* rating distribution */
.distribution .rating-count, .distribution .rating-type {
    text-align: right;
}
/* bars */
.distribution .bar {
    background-color: var(--b4);
    height: 14px;
    border-radius: 10px;
    display: block;
    position: relative;
    margin: 0 10px;
}
.distribution .bar .fill {
    background-color: var(--text-link);
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}


/* language */
.language .flag {
    font-size: 18px;
}

/* rating */
.rating, .rating svg {
    color: var(--text-link) !important;
    font-weight: 500;
}

/* manga */
.manga-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.manga-wrap .page {
    height: 100%;
    display: none;
}
.manga-wrap .page.shown {
    display: block;
}

/* tags */
.tags {
    padding: 10px 0;
}

/* images */
#overview {
    position: relative;
}
.manga-img-cont {
    width: 190px;
    height: 266px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--raise-1);
    position: absolute;
    top: -130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.manga-img-cont:active, .manga-img-cont:hover, .manga-img-cont:focus {
    top: -130px !important;
    transform: scale(1.05);
}
.manga-img-cont img {
    width: 190px;
}
.manga-img-wrap {
    height: 20px;
}
.shift-right {
    margin-bottom: 10px;
}

/* header */
header {
    min-height: 56px;
}
header .menu.left {
    justify-content: left;
}

/* user panel */
header .user-panel {
    background-color: var(--d6);
    height: 56px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    cursor: pointer;
    transition: background-color 0.25s;
}
header .user-panel:hover, header .user-panel:focus {
    background-color: var(--d5);
}
header .user-panel .info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
/* icon */
header .user-panel .icon {
    width: 44px;
    height: 44px;
    background-color: var(--b5);
    border-radius: 20%;
}


.cards .manga-card {
    margin: 0 !important;
}
.cards.users {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* manga/search cards */
.manga-card {
    display: flex;
    text-decoration: none !important;
    background-color: var(--b4);
    border-radius: 5px;
    box-shadow: var(--raise-0);
    padding: 20px;
    margin: 20px 0;
    transition: 0.25s;
}
.manga-card:hover, .manga-card:focus {
    background-color: var(--b3);
}
/* cover */
.manga-card .cover {
    margin-right: 20px;
}
.manga-card .cover .cover-inner {
    width: 120px;
    height: 171px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.manga-card .cover img {
    width: 120px;
    border-radius: 5px;
}
/* hide cover (if enabled) */
.op_hide_cover .manga-card .cover, .op_hide_cover .manga-img-cont {
    display: none;
}
.op_hide_cover .shift-right {
    margin-left: initial;
}
/* info */
.manga-card .info {
    overflow: hidden;
}

/* leader */
.manga-card.leader {
    border: 2px solid #ffdb66;
}
.manga-card.leader h5, .manga-card.leader svg {
    color: #ffdb66;
}

/* count */
.count {
    margin: 0 12px;
    background-color: var(--b6);
    border-radius: 50px;
    font-size: 11px;
    padding: 2px 10px;
    position: relative;
    bottom: 1px;
    font-weight: 600;
    color: var(--text-alt);
}

/* manga controls */
.controls-wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 400px;
    height: 100%;
}
.controls {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 35px;
    transition: 0.25s;
    opacity: 0.2;
    padding: 2px 80px;
    border-radius: 10px;
}
.controls:hover, .controls:focus-within {
    background-color: var(--d5);
    opacity: 1;
    bottom: 40px;
    box-shadow: var(--raise-1);
}

/* buttons */
.controls span {
    cursor: pointer;
    padding: 10px;
    transition: 0.25s;
    border-radius: 5px;
}
svg {
    top: 0 !important;
}
.controls span:hover, .controls span:focus {
    background-color: var(--raise-focus);
}

/* chapter */
.controls #chapter-control {
    background: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: default;
}
#chapter-control .sep {
    padding: 0 5px;
}

/* exit */
.exit {
    padding: 10px;
    border-radius: 5px;
    transition: 0.25s;
    position: absolute;
    right: 20px;
    top: 20px;
    opacity: 0.1;
    z-index: 5;
}
.exit:hover, .exit:focus {
    background-color: var(--raise-focus);
    opacity: 1;
}

/* settings */
.settings .inner {
    max-width: 1092px;
}
/* input */
.setting input {
    background: var(--b5);
    border: none;
    color: var(--text-main);
    font-family: var(--font-main);
    padding: 5px 10px;
    border-radius: 5px;
}
input#transl {
    max-width: 40px;
    text-align: center;
    text-transform: uppercase;
}

/* no results */
.empty-results {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
}

/* tags */
.tag {
    margin-right: 3px;
    background-color: var(--b5) !important;
    color: var(--text-head) !important;
    border-radius: 5px !important;
    border: 1px solid var(--b3);
    line-height: 34px;
    font-size: 14px;
    text-decoration: none;
}
.tag:not(:first-child) {
    margin-left: 3px;
}

.tag.social img, .tag.social svg {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    position: relative;
    top: 4.25px;
    margin-right: 5px;
}
.tag.social img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4.25px;
    filter: invert(1);
}
.tag.social svg {
    top: -2px !important;
}

.tag.big {
    font-size: 18px;
    font-weight: 600;
    padding: 3px 12px;
}

/* related cards */
.desc-cont {
    height: 75px;
    overflow: hidden;
    position: relative;
}
.desc-cont > p {
    padding-top: 0;
}
.desc-cont:before {
    --c: var(--b4);
    z-index: 3;
    content: '';
    width: 100%;
    height: 100%;    
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, var(--c) 0%, rgba(0,0,0,0) 50%);
    transition: 0.25s;
    opacity: 1;
}

.manga-card:hover .desc-cont:before, .manga-card:focus .desc-cont:before {
    top: 120px;
}


/* flags */
.cover.flag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.cover.flag .flag {
    font-size: 32px;
    filter: contrast(1) brightness(1.5);
}
.cover.flag .flag-img {
    width: 44px;
}

.switcher-cont {
    max-width: 70vw;
}


/* vertically truncated text */
.body-trunc {
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.4s;
    max-height: 1000px;
}
.body-trunc:not(.expand) {
    max-height: 250px;
}
.body-trunc:not(.expand):before {
    --c: var(--b5);
    z-index: 3;
    content: '';
    width: 100%;
    height: 100%;    
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, var(--c) 0%, rgba(0,0,0,0) 50%);
    transition: 0.4s;
    opacity: 1;
}
/* button container */
.body-trunc-cont {
    position: relative;
}
.body-trunc-cont > button {
    top: calc(100% - 40px);
    border: none;
    border-bottom: var(--button-border);
}
.body-trunc-cont > button:active {
    top: calc(100% - 40px) !important;
}


/* content ratings */
.tag.suggestive {
    --b: #FFD966;
}
.tag.pornographic, .tag.erotica, .tag.Sexual_Violence, .tag.Gore {
    --b: #FF6666;
}
.tag.Doujinshi {
    --b: #FF66AB;
}
.tag.suggestive, .tag.pornographic, .tag.erotica, .tag.Sexual_Violence, .tag.Gore, .tag.Doujinshi {
    color: var(--b3) !important;
    font-weight: 600 !important;
    background-color: var(--b) !important;
    border-color: var(--b) !important;
}
.tag svg {
    color: currentColor;
}

/* important */
.tag.ROLE_ADMIN {
    background-color: var(--accent-raise) !important;
}


/* section header */
section > h4 {
    border-bottom: 2px solid var(--text-link);
    display: inline-block;
}
section .chapter-card h5:before, h5.main:before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 10px;
    border-radius: 50px;
    background-color: var(--text-link);
    margin-right: 7px;
}

.overl.small {
    font-size: 11px;
    max-width: 100px;
    overflow: hidden;
}


/* full page cont */
.cont {
    display: flex;
}
.cont > .main {
    margin-left: 200px;
    flex: 1;
}
:root {
    --padding: 160px;
    --highlight-padding: 120px;
}

/* nav */
nav {
    width: 200px;
    background-color: var(--b5);
    padding: 80px 10px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    height: 100vh;
}
/* links */
nav .links li:before {
    display: none;
}
nav .links a {
    display: flex;
    padding: 3px 10px;
    border-radius: 5px;
    transition: background-color 0.25s, color 0.25s;
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
}
nav .links a:hover, nav .links a:focus {
    background-color: var(--b4);
    color: var(--text-head);
}
nav .links svg {
    top: 6px !important;
    margin-right: 10px;
}
/* gap */
nav hr {
    margin: 20px 0;
    border: 1px solid var(--b4);
}

/* nav manga reading */
.nav-manga {
    position: fixed;
    left: -200px;
    transition: 0.4s;
    z-index: 100;
}
.nav-manga nav {
    position: absolute;
}
.nav-manga.shown {
    left: 0;
}
/* button */
.nav-manga button {
    z-index: 110;
    cursor: pointer;
    padding: 10px 2px;
    transition: 0.25s;
    border: none;
    background-color: var(--b6);
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0;
    height: 48px;
    border-radius: 0 10px 10px 0;
    opacity: 0.4;
}
.nav-manga button:hover, .nav-manga button:focus {
    background-color: var(--b5);
    opacity: 1;
}
.nav-manga.shown button {
    opacity: 1;
}

.nav-manga button svg {
    transition: 0.25s;
}
.nav-manga.shown button svg {
    transform: rotateZ(180deg);
}

/* settings */
#settings {
    display: initial;
}

/* contains keycode */
.keycode-cont {
    position: relative;
}
.keycode {
    position: absolute;
    right: 10px;
}


/* pages */
.page-num {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-main);
    font-family: var(--font-main);
    border-radius: 50px;
    padding: 4px 10px;
    margin: 0 2px;
    transition: 0.25s;
}
.page-num:hover, .page-num:focus {
    background-color: var(--b4);
}
/* current */
.page-num.current {
    background-color: var(--text-link) !important;
    color: var(--b6);
    font-weight: 600;
}
/* left/right */
.page-num.left, .page-num.right {
    margin: 0 10px;
    color: var(--text-alt);
}

/* advance buttons */
button.advance {
    border: none;
    background-color: var(--b3);
    font-family: var(--font-main);
    color: var(--text-icon);
    cursor: pointer;
    border-radius: 50px;
    padding: 4px 15px;
    font-weight: 500;
    transition: 0.25s;
}
button.advance:hover, button.advance:focus {
    background-color: var(--b2);
}

/* search header */
section.search-cont {
    padding-top: 120px !important;
    padding-bottom: 120px;
}
section.search-cont .bg-dark {
    backdrop-filter: blur(10px);
}
section.search-cont .search {
    flex: 1;
}

.search input {
    text-transform: capitalize;
}
.search input::placeholder {
    text-transform: none;
}


/* user */
.big-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px;
    border-radius: 50%;
    background-color: var(--b4);
    /* lock */
    width: 154px;
}


/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 200;
}
/* menu */
:not(header) .menu {
    display: none;
    position: absolute;
    /* appearance */
    padding: 5px;
    border-radius: 5px;
    border: var(--button-border);
    background-color: var(--b4);
    /* display */
    box-shadow: var(--raise-3);
}
.dropdown.shown .menu, .menu.shown {
    position: absolute;
    display: block;
    animation: show_menu 0.2s;
}
.menu.standalone.shown {
    z-index: 200;
    position: fixed;
}
@keyframes show_menu {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/* links */
.menu li:before {
    display: none;
}
.menu a {
    display: flex;
    padding: 1px 10px;
    border-radius: 5px;
    transition: background-color 0.25s, color 0.25s;
    text-decoration: none;
    color: var(--text-main);
    font-weight: 500;
    min-width: 180px;
    text-decoration: none !important;
    position: relative;
}
.menu a:hover, .menu a:focus {
    background-color: var(--b5);
    color: var(--text-head);
}
.menu a svg {
    position: absolute;
    right: 10px;
    top: 8px !important;
}
/* gap */
.dropdown hr, .menu hr {
    margin: 7px 0;
    border: 1px solid var(--b3);
}